input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
/* Not sure if this works fine! */

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}



.sectionLottery--buttonReload {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.15em;
  padding: 17px;
  margin: 10px;
}

.sectionLottery {
  opacity: 0.9;
  color: teal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.6;
  max-width: 80%;
  box-shadow: 1px 1px 6px #1d1c1c;
  margin: 110px auto;
  margin-bottom: 240px;
  padding: 8px;
}

.sectionLottery-reveal {
  background-color: #ffffff;
  opacity: 0.9;
  font-family: "Lato", italic, sans-serif;
  color: teal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.6;
  font-size: 24px;
  max-width: 80%;
  padding: 20px;
  box-shadow: 1px 1px 6px #1d1c1c;
  margin: 110px auto;
}

.section__button {
  background: #1d1c1c;
  font-family: "Lato", italic, sans-serif;
  color: goldenrod;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.15em;
  padding: 16px;
  margin: 20px;
}

.section-questionHide {
  display: none;
}

.lottery-questionReveal {
  display: block;
  font-size: 24px;
}

.section__buttonHidden {
  width: 60px;
  height: 60px;
  font-size: 16px;
  padding: 4px;
  margin: 4px;
}

.sectionLottery--buttonCheck {
  margin: 26px;
}

.sectionLottery-hidden {
  display: none;
}

.sectionLottery-no {
  display: none;
}

.sectionLottery-yes {
  display: none;
}

.sectionLottery-input {
  border: 2px solid black;
  padding: 10px;
  margin: 16px;
  width: 80px;
  height: 60px;
  text-align: center;
  font-weight: 700;
}

.sectionLottery-input:invalid {
  outline: 3px solid red;
}

.sectionLottery-check {
  display: flex;
  flex-wrap: wrap;
}

.sectionLottery-messageEnd {
  color: teal;
  font-size: 36px;
}

.sectionLottery-messageEnd-hidden {
  display: none;
}

.section__navigationLottery--button {
  width: 100%;
  font-size: 28px;
}

.sectionLottery-message-prompt {
  font-size: 18px;
}