.navigation {
  border-bottom: 3px solid teal;
  box-shadow: 1px 1px 6px #1d1c1c;
  width: 100%;
  padding: 10px;
  background: #1d1c1c;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.navigation__button {
  background: transparent;
  color: goldenrod;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 12px;
  position: relative;
  font-size: 15px;
  text-decoration: none;
}

.navigation__button:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  background: teal;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 3px;
}

.navigation__button:hover::after {
  color: rgb(43, 41, 41);
  width: 100%;
  left: 0;
}

.footer__navigation--list {
  list-style: none;
  padding: 0;
}

.navigation__item {
  margin: 5px;
  display: inline-block;
}

.navigation__link {
  color: teal;
  text-decoration: none;
}

.footer {
  opacity: 0.9;
  border-top: 3px solid teal;
  border-bottom: 3px solid teal;
  box-shadow: 1px 1px 6px #1d1c1c;
  position: relative;
  color: goldenrod;
  max-width: 100%;
  height: auto;
  padding: 4px;
  background: black;
  margin-bottom: 30px;
  text-align: center;
}

.footer__header {
  color: goldenrod;
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.footer__navigation-item {
  margin: 0px;
  padding: 0 10px;
  display: inline-block;
}

.footer__navigation-link {
  color: goldenrod;
}

.footer__navigation-bold {
  color: goldenrod;
  font: bold;
  padding: 4px;
}

.footer__navigation-linkInstagram {
  width: 60px;
  padding: 0;
  margin: 0;
}

.navigation__buttonProjects {
  color: #1d1c1c;
  padding: 5px 20px;
}

.navigation__buttonProjects:after {
  background: goldenrod;
}
