html {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  color: #1d1c1c;
  font-family: "Lato", italic, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  width: 1000px;
  max-width: fit-content;
  height: 1000px;
  background-image: url("../images/oaktree.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.header {
  font-family: "Lato", italic, sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: 0px;
  padding: 0;
  letter-spacing: 0.2em;
  display: inline-block;
  position: relative;
}

.header__link {
  text-decoration: none;
  color: #ffffff;
}

.header__linkSize {
  font-size: 30px;
  color: goldenrod;
}

.header__linkSize--next {
  font-size: 38px;
  color: teal;
}

.header::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  background: teal;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 3px;
}

.header:hover::after {
  width: 100%;
  left: 0;
} 

